@import url('Arapey_italic.7e16a0fd7a0f491ed7c1.ttf');
@import url('ProximaNova-Regular.bf9f5d50c1b928ff2143.otf');


body{
	background:#fff;
	margin:0;
	padding:0;
	overflow-x:hidden;
	width:100%;
	
	
}

.header-link a{
	text-decoration:none;
	color:#C0C0C0;
	margin:0 0px 0 100px;
	font-size:20px;
	font-family: monospace;
}

.main-header h1{
	color:#fff;
	font-family: sans-serif;
	font-size: 50px;
	margin:45px 0px 0 100px;
	position:absolute;
	z-index:1;
	top:0;
	letter-spacing:8px;
}

.top-header ul{
	list-style-type:none;
	transform:translate(30px, -480px);
	position:relative;
}

.top-header ul li {
	float:left;
	
}

.top-header ul li a{
	text-decoration:none;
	color:#fff;
	margin: 0px 25px 0px 25px;
	font-size:20px;
	font-family:arial;
	
}

.dropdown-content {
  display: none;
  position: absolute;
  max-width: auto;
  z-index: 1;
 
 
}

.dropdown-content a{
  color: #fff;
  /*margin:25px 0px 30px 15px;*/
  padding: 25px 6px;
  text-decoration: none;
  display: block;
}

.dropdown-content a.dropdown-links{
	font-size:15px;
}

li.person:hover .dropdown-content {display: block;}
li.businessman:hover .dropdown-content {display: block;}
li.philanthropy:hover .dropdown-content {display: block;}



.body-header h1{
	margin: 50px 50px 0 600px;
	color:#D4AF37;
	letter-spacing:3px;
	
}

/*slider*/

.slideshow-container{
	width:100%;
	position:relative;
	margin: 5px 0 0 0;
	display:block;
}

.mySlides{
	display:none;
}

.mySlides-fade img{
	width:100%;
	max-width:2000px;
	max-height:600px;
	position:relative;
}

/*.topnav{
	overflow:hidden;
	background-color: #fff;
	position:relative;
}

.topnav #myLinks{
	display:none;
}

.topnav a.icon{
	background:#000;
	display:block;
	position:absolute;
	top:0;
	left:0;	
	color:#000;
}

.active{
	background-color:#fff;
	color:#fff;
}*/

/*body-cards*/

.slideshow-container2{
	max-width:100%;
	/*position: relative;*/
	height:600px;
}

.mySlides2{
	display:none;
}

.card-slider{
	display:flex;
}
.card1{
	border:0.5px solid #000;
	border-radius: 3px;
	max-width:370px;
	height:500px;
	margin: 40px 0px 0 200px;
	float:left;
	
}

.card1 h3{
	text-align:center;
}

.card1 h3 a{
	text-decoration:none;
	color:#000;
}
.card1 p{
	white-space:none;
	color:#708090;	
	font-size:14px;
	margin: 50px 30px 0 30px;

}

.card2{
	border:0.5px solid #000;
	border-radius: 3px;
	max-width:370px;
	height:500px;
	margin: 40px 40px 0 40px;
	float:left;
	
}


.card2 h3{
	text-align:center;
}

.card2 h3 a{
	text-decoration:none;
	color:#000;
}
.card2 p{
	white-space:none;
	color:#708090;	
	font-size:14px;
	margin: 50px 30px 0 30px;

}

.card3{
	border:0.5px solid #000;
	border-radius: 3px;
	max-width:370px;
	height:500px;
	margin: 40px 40px 0 5px;
	float:left;
	
}


.card3 h3{
	text-align:center;
}

.card3 h3 a{
	text-decoration:none;
	color:#000;
}
.card3 p{
	white-space:none;
	color:#708090;	
	font-size:14px;
	margin: 50px 30px 0 30px;

}

.card4{
	border:0.5px solid #000;
	border-radius: 3px;
	max-width:370px;
	height:500px;
	margin: 40px 40px 0 200px;
	float:left;
	
}


.card4 h3{
	text-align:center;
}

.card4 h3 a{
	text-decoration:none;
	color:#000;
}
.card4 p{
	white-space:none;
	color:#708090;	
	font-size:14px;
	margin: 50px 30px 0 30px;

}

.card5{
	border:0.5px solid #000;
	border-radius: 3px;
	max-width:370px;
	height:500px;
	margin: 40px 40px 0 5px;
	float:left;
	
}


.card5 h3{
	text-align:center;
}

.card5 h3 a{
	text-decoration:none;
	color:#000;
}
.card5 p{
	white-space:none;
	color:#708090;	
	font-size:14px;
	margin: 50px 30px 0 30px;

}


.card6{
	border:0.5px solid #000;
	border-radius: 3px;
	max-width:370px;
	height:500px;
	margin: 40px 40px 0 5px;
	float:left;
	
}


.card6 h3{
	text-align:center;
}

.card6 h3 a{
	text-decoration:none;
	color:#000;
}
.card6 p{
	white-space:none;
	color:#708090;	
	font-size:14px;
	margin: 50px 30px 0 30px;

}


.card7{
	border:0.5px solid #000;
	border-radius: 3px;
	max-width:370px;
	height:500px;
	margin: 40px 40px 0 200px;
	float:left;
	
}


.card7 h3{
	text-align:center;
}

.card7 h3 a{
	text-decoration:none;
	color:#000;
}
.card7 p{
	white-space:none;
	color:#708090;	
	font-size:14px;
	margin: 50px 30px 0 30px;

}

.card8{
	border:0.5px solid #000;
	border-radius: 3px;
	max-width:370px;
	height:500px;
	margin: 40px 40px 0 5px;
	float:left;
	
}


.card8 h3{
	text-align:center;
}

.card8 h3 a{
	text-decoration:none;
	color:#000;
}
.card8 p{
	white-space:none;
	color:#708090;	
	font-size:14px;
	margin: 50px 30px 0 30px;

}

.card9{
	border:0.5px solid #000;
	border-radius: 3px;
	max-width:370px;
	height:500px;
	margin: 40px 40px 0 5px;
	float:left;
	
}


.card9 h3{
	text-align:center;
}

.card9 h3 a{
	text-decoration:none;
	color:#000;
}
.card9 p{
	white-space:none;
	color:#708090;	
	font-size:14px;
	margin: 50px 30px 0 30px;

}

.card10{
	border:0.5px solid #000;
	border-radius: 3px;
	max-width:370px;
	height:500px;
	margin: 40px 40px 0 200px;
	float:left;
	
}


.card10 h3{
	text-align:center;
}

.card10 h3 a{
	text-decoration:none;
	color:#000;
}
.card10 p{
	white-space:none;
	color:#708090;	
	font-size:14px;
	margin: 50px 30px 0 30px;

}

.card11{
	border:0.5px solid #000;
	border-radius: 3px;
	max-width:370px;
	height:500px;
	margin: 40px 40px 0 5px;
	float:left;
	
}


.card11 h3{
	text-align:center;
}

.card11 h3 a{
	text-decoration:none;
	color:#000;
}
.card11 p{
	white-space:none;
	color:#708090;	
	font-size:14px;
	margin: 50px 30px 0 30px;

}

.card12{
	border:0.5px solid #000;
	border-radius: 3px;
	max-width:370px;
	height:500px;
	margin: 40px 40px 0 5px;
	float:left;
	
}


.card12 h3{
	text-align:center;
}

.card12 h3 a{
	text-decoration:none;
	color:#000;
}
.card12 p{
	white-space:none;
	color:#708090;	
	font-size:14px;
	margin: 50px 30px 0 30px;

}



.img-container{
	max-width:340px;
	height:150px;
	margin: 30px auto 0 auto;
}

.img-container img{
	border-radius:5px;
}

.fa-heart-o{
	text-align:center;
	color:#708090;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
button.btn-primary{
	width: 380px;
	height:50px;
	margin:40px 90px 110px 580px;
	border:0.5px solid #D4AF37;
	background-color:#fff;
	font-family:sans-serif;
	letter-spacing:3px;
	cursor:pointer;
}

img.retweet-icon{
	width:20px;
	height:20px;
	margin:40px 0 0 30px;
	float:left;
}

img.like-icon{
	width:20px;
	height:20px;
	margin:40px 0 0 35px;
	float:left;
}

p.no-tweets{
	float:left;
	font-size:15px;
	margin:40px 0px 0 32px;
	padding:0 0 0 10px;
}

p.no-likes{
	float:left;
	font-size:15px;
	margin:40px 10px 0 37px;
	padding:0 0 0 10px;
}

/*section02*/

.section2 .text-container{
	height:300px;
}

a.twitter-link{
	text-decoration:none;
	margin:0px 0 120px 2px;
	color:#000;
	font-weight:200;
	font-family:sans-serif;
	padding:5px 10px 0 10px;
	font-size:16px;
	letter-spacing:3px;
}

.dot-twitter{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: inline-block;
	margin:20px 0 0 400px;
}
blockquote.index-quote {
	border:none;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin-bottom:-30px;
	position: relative; 
	max-width: 730px; 
	margin: 0 auto; 
	padding-left: 0.4em; 
}


blockquote h3 {
    font-size:30px;
	color:#696969;
	font-weight:normal;
	font-family:sans-serif, American Typewriter;
	padding:0 -5px 0 -5px;
}

blockquote h3:before { 
    content: "\201C";
    font-weight: bold;
    font-size:70px;
    color:#C5B358;
    position: absolute; 
    top: -1.0em;
    left: -0.5em; 
    font-family: 'Georgia'; 
} 

blockquote h3:after { 
    content: "\201D";
    font-weight: bold;
    font-size:70px;
    color:#C5B358;
    position: absolute; 
    bottom: -1.2em;
    right:-0.9em; 
    font-family: 'Georgia';
	
}
.section3 .container{
	position:relative;
	display:inline-block;
	width:100%;
}

.section3 .container  img {
	width:100%;
	position:relative;
	display:inline-block;
}



h1.heading{
	font-size:50px;
	color:#C5B358;
	letter-spacing:2px;
	font-family:Times New Roman;
	position:absolute;
	left: 10%;
    right: 0;
    top: 25%;

}

button#sec3-btn{
	position:absolute;
	width: 300px;
	height:50px;
	border:1.5px solid #D4AF37;
	background-color:transparent;
	font-family:sans-serif;
	letter-spacing:3px;
	left: -29%;
    top: 80%;
	color:#C5B358;
	cursor:pointer;
}

.section4 .container{
	position:relative;
	display:inline-block;
	width:100%;
	margin:-3px 0 0 0;
}

.section4 .container img {
	width:100%;
	position:relative;
	display:inline-block;
	margin:-3px 0 0 0;

}

h1.heading2{
	font-size:50px;
	color:#C5B358;
	letter-spacing:3px;
	font-family:monospace;
	position:absolute;
	left: 12%;
    right: 0;
    top: 10%;
}

p.para{
	color:#fff;
	position:absolute;
	left: 12%;
    right: 0;
    top: 25%;
	font-size:14px;
	width:780px;
	/*font-family:Arial Narrow, Optima;*/
	font-family:Gill Sans;
}

button#sec4-btn{
	
	width: 200px;
	height:50px;
	border:1.5px solid #D4AF37;
	background-color:transparent;
	font-family:sans-serif;
	letter-spacing:3px;
	position:absolute;
	left:-26%;
	top: 80%;
	color:#C5B358;
	cursor:pointer;
}

.section5 .container{
	position:relative;
	display:inline-block;
	width:100%;
	margin:-3px 0 0 0;
}

.section5 .container  img {
	width:100%;
	position:relative;
	display:inline-block;
	margin:-3px 0 0 0;
}

h1.heading3{
	font-size:50px;
	color:#C5B358;
	letter-spacing:3px;
	font-family:monospace;
	position:absolute;
	left: 12%;
    right: 0;
    top: 10%;
}

button#sec5-btn{
	
	width: 200px;
	height:50px;
	border:1.5px solid #D4AF37;
	background-color:transparent;
	font-family:sans-serif;
	letter-spacing:3px;
	position:absolute;
	left:-26%;
	top: 80%;
	color:#C5B358;
	cursor:pointer;
}

.section7 .container h1.heading4{
	color:#C5B358;
	font-size:50px;
	font-family:arial;
	margin:70px 0px 0 120px ;
}

.section7 .container a{
	text-decoration:none;
	color:#000;
	
}

h4.sub-heading{
	margin:30px 0px 0 120px ;
	width:500px;
}

p.para2{
	margin:30px 0px 0 120px ;
	width:500px;
	font-size:15px;
}

img.side-image{
	width:740px;
	padding:40px 180px 0 0px;
	height:330px;
}

.column{
	float: left;
	width:43%;
	height:30%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

button#sec7-btn1{
	width: 150px;
	height:40px;
	border:1.5px solid;
	border-radius:28px;
	background-color:#808080;
	font-family:sans-serif;
	letter-spacing:3px;
	margin: 30px 0 0 120px;
	color:#fff;
	display:inline-block;
	cursor:pointer;
}

button#sec7-btn2{
	width: 150px;
	height:40px;
	border:1.5px solid ;
	border-radius:28px;
	background-color:#808080;
	font-family:sans-serif;
	letter-spacing:3px;
	margin: 30px 0 0 20px;
	color:#fff;
	display:inline-block;
	cursor:pointer;
}
.column1{
	float:left;
	width:33.33%;
	height:30%;
	
}	

img.photo1{
	width:400px;
	height:250px;
	margin:90px 0px 0 120px;
	padding:0 75px 0 0px;
}

img.photo2{
	width:400px;
	height:250px;
	margin:90px 0 250px 0px;
	padding:0 30px 0 75px;
}

img.photo3{
	width:400px;
	height:250px;
	margin:90px 120px 0 0px;
	padding:0 150px 0 30px;
}

p.para3{
	
	margin:30px 0px 0 120px ;
	width:400px;
	font-size:14px;
}

p.para4{
	margin:-220px 0px 0 80px ;
	width:400px;
	font-size:14px;
}

p.para5{
	
	margin:30px 0px 0 30px ;
	width:400px;
	font-size:14px;
}

p.para6{
	margin:30px 0px 0 80px ;
	width:500px;
	font-size:15px;
}

p.para7{
	margin:30px 0px 0 30px ;
	width:500px;
	font-size:15px;
}

button#sec7-btn3{
	width: 150px;
	height:40px;
	border:1.5px solid;
	border-radius:28px;
	background-color:#808080;
	font-family:sans-serif;
	letter-spacing:3px;
	margin: 30px 0 0 70px;
	color:#fff;
	display:inline-block;
	cursor:pointer;
}

button#sec7-btn4{
	width: 150px;
	height:40px;
	border:1.5px solid;
	border-radius:28px;
	background-color:#808080;
	font-family:sans-serif;
	letter-spacing:3px;
	margin: 30px 0 0 30px;
	color:#fff;
	display:inline-block;
	cursor:pointer;
}

button#sec7-btn5{
	width: 200px;
	height:50px;
	border:1.5px solid #D4AF37;
	background-color:transparent;
	font-family:sans-serif;
	letter-spacing:3px;
	color:#C5B358;
	margin:50px 0 30px 700px;
	cursor:pointer;
}





/*footer*/
.footer-area .container{
	margin: 30px 0 0 0 ;
	background-color:#000;
	display:block;
	height:850px;
}

.footer-area .container img.footer-image1{
	margin:130px 0 0 600px;
}

.widget{
	
	float:left;
	padding:3px 30px 0 30px;
	margin:80px 30px 0 30px;
}

.footer-person{
	margin:0 0 0px 320px;
}

.footer-area .container ul li a{
	text-decoration:none;
	color:#fff;
	font-size:12px;
	

}

.footer-area .container ul li{
	padding:3px 10px 10px 5px;
	
}

.footer-area .container ul{
	float:left;
	list-style-type:none;
	padding:3px 10px 10px 3px;
	
}



 
 a.footer-desc-link{
	  text-decoration:none;
 }
 
 p.footer-desc {
	text-align:center;
	 color:#696969;
	 font-size:15px;
	 margin:30px 0 0 0;
	 font-style: italic;
 }
 
 p.footer-copyright{
	 text-align:center;
	 color:#fff;
	 font-size:10px;
	 letter-spacing:2px;
	 
 }
 
 img.footer-image2{
	margin:70px 700px 0 700px;
 }
 
 /*person-overview page*/
 
 .wrapper{
	 height:2000px;
	 overflow-y:hidden;
	 
 }
 


.box{
	background-color:#C0C0C0;
	width:900px;
	height:420px;
	margin:30px auto 30px auto;
}

p.desc{
	padding:40px 30px 0px 50px;
	font-size:16px;
	color:rgba(0,0,0,0.5);
	font-family:;
}

h2.overview-heading{
	font-size:28px;
	margin:100px 0 0 150px;
	color:#fff;
	font-family:Arapey;
	font-style:italic;
}



.text-container{
	margin:120px 0 150px 0;
}

.arrow-image{
	margin:350px 0px 90px 800px;
}

blockquote.person-quote{
	border:none;
	/*font-family:Georgia, "Times New Roman", Times, serif;*/
	font-family:Arapey;
	font-style:italic;
	margin-bottom:-30px;
	position: relative; 
	max-width: 710px; 
	margin: 30px auto; 
	padding-left: 1.5em; 
}

blockquote h3.quote-text-person{
	font-size:24px;
	color:#fff;
	font-weight:normal;
	font-family:sans-serif, American Typewriter;
	padding:0 -5px 0 -5px;
}

blockquote h3.quote-text-person:before { 
    content: "\201C";
    font-weight: bold;
    font-size:70px;
    color:#C5B358;
    position: absolute; 
    top: -1.0em;
    left: -0.5em; 
    font-family: 'Georgia'; 
} 

blockquote h3.quote-text-person:after { 
    content: "\201D";
    font-weight: bold;
    font-size:70px;
    color:#C5B358;
    position: absolute; 
    bottom: -1.0em;
    right:-0.1em; 
    font-family: 'Georgia';
	
}

/*business overview page*/

h2.overview-heading-business{
	font-size:90px;
	margin:100px 0 0 230px;
	color:#C5B358;
	font-family:Arapey;
	
}

.text-container-business{
	margin:120px 0 150px 0;
}

.box-business{
	background-color:#C0C0C0;
	width:900px;
	height:580px;
	margin:30px auto 30px auto;
}

p.business-desc{
	color:#fff;
	margin:30px 0 0 240px;
	width:800px;
	font-family:Arapey;
	font-size:18px;
}

.v1{
	border-left:1px solid #C5B358;
	height:90px;
	float:left;
	margin:70px 0 0 50px;
}

p.business-para{
	color:#C5B358;
	font-family:Arapey;
	font-style:italic;
	font-size:40px;
	float:left;
	margin:80px 0 0 240px;
}
 
p.business-para2{
	color:#C5B358;
	font-family:Arapey;
	font-style:italic;
	font-size:40px;
	float:left;
	margin:80px 0 0 40px;
}
	
	
p.business-para3{
	color:#fff;
	margin:-20px 0 0 240px;
	font-size:20px;
	font-family:Arapey;
	float:left;
	
}


p.business-para4{
	color:#fff;
	margin:-20px 0 0 222px;
	font-size:20px;
	font-family:Arapey;
	float:left;
}

hr.solid{
	border-top:0.5px solid #C5B358;
	width:600px;
	margin:20px 0 0 240px;
}

p.business-para5{
	color:#C5B358;
	font-family:Arapey;
	font-style:italic;
	font-size:40px;
	float:left;
}

p.business-para6{
	color:#fff;
	font-size:20px;
	font-family:Arapey;
	float:left;
}

.v2{
	border-left:1px solid #C5B358;
	height:90px;
	float:left;
	
}

.arrow-image2{
	margin:55px 0px 90px 800px;
	
}

button#b-overview-btn{
	width:350px;
	height:50px;
	border:1.5px solid #D4AF37;
	background-color:transparent;
	font-family:sans-serif;
	letter-spacing:3px;
	position:absolute;
	left:-5%;
	color:#C5B358;
	cursor:pointer;
	text-align:left;
	line-height:1em;
	
}

/*philanthropies page*/

h4.philan-heading{
	padding:40px 30px 0px 50px;
	font-size:20px;
	color:rgba(0,0,0,0.5);
	font-family:Arapey;
}

button#p-overview-btn{
	width:450px;
	height:50px;
	border:1.5px solid #D4AF37;
	background-color:transparent;
	font-family:sans-serif;
	letter-spacing:3px;
	position:absolute;
	left:-5%;
	color:#C5B358;
	cursor:pointer;
	text-align:left;
	line-height:1em;
}




	




 
